@import url(./_inactive/popup__save-button_inactive.css);
@import url(./_delete/popup__save-button_delete.css);

.popup__save-button {
  max-width: 358px;
  width: 100%;
  min-height: 50px;
  margin-top: 48px;
  border-radius: 2px;
  border: 0;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: .2s ease;
}

.popup__save-button:hover {
  background-color: rgba(0, 0, 0, .8);
}