.element__delete-button {
  max-width: 18px;
  width: 100%;
  min-height: 19.3px;
  background: transparent;
  cursor: pointer;
  margin: 0;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s ease;
  opacity: 1;
}

.element__delete-button:hover {
  opacity: .6;
}