@import url(./__logo/header__logo.css);
@import url(./__auth-link/header__auth-link.css);
@import url(./__auth-link/_logout/header__auth-link_logout.css);
@import url(./__list/header__list.css);
@import url(./__text/header__text.css);

.header {
  max-width: 882px;
  min-height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 45px;
  margin: 0 auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 842px;
    margin: 0 89px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 682px;
    margin: 0 43px 0;
    padding-top: 35px;
  }
}

@media screen and (max-width: 424px) {
  .header {
    max-width: 382px;
    margin: 0 22px 0;
  }
}

@media screen and (max-width: 374px) {
  .header {
    max-width: 320px;
    margin: 0 auto 0;
    padding-top: 28px;
  }
}





