.element__like-button {
  background-image: url(../../../images/like-image.svg);
  background-position: center center;
  background-repeat: no-repeat;
  align-self: center;
  max-width: 21px;
  width: 100%;
  min-height: 19px;
  margin: 0 20px 3px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: opacity .4s ease;
  opacity: 1;
}

.element__like-button:hover {
  opacity: .6;
}
