@import url(./__close/popup__close.css);
@import url(./__close/_fullscreen/popup__close_fullscreen.css);
@import url(./__form/popup__form.css);
@import url(./__input/popup__input.css);
@import url(./__input/_type_error/popup__input_type_error.css);
@import url(./__input-error/popup__input-error.css);
@import url(./__input-error/_active/popup__input-error_active.css);
@import url(./__save-button/popup__save-button.css);
@import url(./__text/popup__text.css);
@import url(./__title/popup__title.css);
@import url(./__fullscreen-container/popup__fullscreen-container.css);
@import url(./__fullscreen-image/popup__fullscreen-image.css);
@import url(./__fullscreen-text/popup__fullscreen-text.css);

.popup {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s linear;
}